header {
  padding:5px;
}

.player_selection {
border-radius: 12px;
background-color: #7c62ed;
padding: 10px;
}

body {
  background-color: #f2f2f2;
  font-family: "Helvetica";
}


.grid_item {
  padding: 5px;
  font-size: 15px;
  text-align: center;
}

.navbar_menu{
  background-color: #c8d8e4;
  list-style-type: none;
  margin: 0;
  padding: 10px;
  overflow: hidden;
  border-radius: 12px;
}

.sidebar-item {
  font-size:15;
  padding:10px;
  display: inline;
}

.main_content{
  position : center;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  width:auto;
  border-radius: 10px;
  margin-top: 40px;
  margin-bottom: -10px;
  padding-bottom: 80px;
  position: relative;
  z-index: 100;
  min-height: 80vh;
  max-width: calc(100vw - 5vw);
  min-width: 250px;
}

.section_title{
  padding:10px;
  border-radius: 12px;
  background-color: #c8d8e4;
}

.bottom{
  margin-bottom: 0;
  margin-top:0;
  padding-bottom: 0;
  background-color: #232F3E;
}

.tabella {
  padding: 10px;
  border-collapse: collapse;
  width: 100%;
}

.row_role{
  background: rgba(2, 154, 242, 0.36);
  border-top: 2px solid;
  border-color:  rgba(244, 11, 11, 0.3); ;
  font-size: 12px;
}

.row_cell{
  border-left: 1px solid;
  border-color:  rgba(244, 11, 11, 0.3); ;
}


/* top-left border-radius */
thead tr:first-child th:first-child {
  border-top-left-radius: 10px;
}

/* top-right border-radius */
thead tr:first-child th:last-child {
  border-top-right-radius: 10px;
}

/* bottom-left border-radius */
thead tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */
thead tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}


.logo img {
  width: auto;
  height: auto;
  max-width: min(30px,100%);
  max-height: min(40px,100%);
}

.tableFixHead {
  overflow-y: auto;
  height: 100px;  
}

.tableFixHead thead th {
  position: sticky;
  top: 0;
  background-color:rgba(244, 11, 11, 0.729);
  color:#fffafa;
  font-weight: bold;
  font-size: 13px;
  cursor: default;
  padding: 5px;
  overflow: hidden;
  height: 45px;
  
}

.tableFixHead thead button {
  color:#fffafa;
  font-weight: bold;
  font-size: 13px;  
  font-family: "Helvetica";
}

tfoot{
  background-color:rgba(244, 11, 11, 0.729);
  border-color:None;
  padding: 5px;
  height: 45px;
}

/* bottom-left border-radius */
tfoot tr:last-child td:first-child {
  border-bottom-left-radius: 10px;
}

/* bottom-right border-radius */
tfoot tr:last-child td:last-child {
  border-bottom-right-radius: 10px;
}

.campioncino_button{
  height: 100px;
  width: 80px;
  border:None;
  background-color: transparent;
}

.campioncino{
  height: 95px;
  width: 70px;
}

.campioncino_button:hover{
  background-color:rgba(244, 11, 11, 0.729);
  cursor: pointer;
  border-radius:5px;
}

.fav{
  background-color:rgba(244, 11, 11, 0.729);
  border-radius:5px;
}
 

input[type=checkbox] {
  accent-color: red;
  width : 20px;
  height : 20px;
}

.sort_button{
  color: transparent;
  background-color: transparent;
  border-color: transparent;
}