
.main_content{
    position : center;
    margin-right: auto;
    margin-left: auto;
    padding-left : 30px;
    padding-right : 30px;
    width:auto;
    border-radius: 10px;
    margin-top: 40px;
    margin-bottom: -10px;
    padding-bottom: 80px;
    position: relative;
    z-index: 100;
    min-height: 80vh;
    max-width: calc(100vw - 20vw);
    min-width: 300px;
}

.dif_3{
    grid-template-columns: auto auto auto;
    display: grid;
}
.dif_4{
    grid-template-columns: auto auto auto auto;
    display: grid;
}
.dif_5{
    grid-template-columns: auto auto auto auto auto;
    display: grid;
}


.cen_3{
    grid-template-columns: auto auto auto;
    display: grid;
}
.cen_4{
    grid-template-columns: auto auto auto auto;
    display: grid;
}
.cen_5{
    grid-template-columns: auto auto auto auto auto;
    display: grid;
}


.att_2{
    grid-template-columns: auto auto;
    display: grid;
}
.att_3{
    grid-template-columns: auto auto auto;
    display: grid;
}
.att_1{
    grid-template-columns: auto;
    display: grid;
}


.grid_item_por {
    border: 2px solid;
    border-radius: 12px;
    border-color:#f4b247 ;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    height: 30px;
  }

.grid_item_dif {
    border: 2px solid;
    border-radius: 12px;
    border-color:#daf209 ;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    height: 30px;
  }

.grid_item_cen {
    border: 2px solid;
    border-radius: 12px;
    border-color:#291fee ;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    height: 30px;
  }

.grid_item_att {
    border: 2px solid;
    border-radius: 12px;
    border-color:#ee0a0a ;
    padding: 5px;
    font-size: 16px;
    text-align: center;
    height: 30px;
  }

.grid_item_sent{
    padding: 15px;
    text-align: center;
}


.team_builder{

    font-size: 15px;
    border-radius: 12px;
    background-color: #1717194e;
    padding: 10px;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
}


.selector{
    height: 40px;
    font-size: 20px;
    font-family: Helvetica, Sans-Serif;
    background-color: #dadaf5;
}

select{
    height: 30px;
    font-size: 20px;
    text-align: center;
}