<!DOCTYPE html>
<html>
<head>
<title>{{nome}} Analisi giocatore</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/player_page_css.css') }}"></head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/general.css') }}"></head>
<body>    
    <header>
            <div class="navbar_menu">
                <div class = 'logo_container'>
                    <img src = 'static/img/logo.png' class = 'logo'>
                </div>
                <div class = 'navbar_container'>
                    <ul>
                        <li class = 'navbar-item'><a href="/classifica">Info squadre</a></li>
                        <li class = 'navbar-item'><a href="/role-explorer">Info ruolo</a></li>
                        <li class = 'navbar-item'><a href="/player-page">Info giocatore</a></li>
                        <li class = 'navbar-item'><a href="/team-builder">Team Builder</a></li>
                    </ul>
                </div>
                <div class = 'navbar_this_page'>
                    <ul>
                        <li class = 'navbar-item'><a href="#player_meta_grid">Riepilogo giocatore</a></li>
                        <li class = 'navbar-item'><a href="#presenze_meta_grid">Presenze</a></li>
                        <li class = 'navbar-item'><a href="#statistiche_meta_grid">Statistiche</a></li>
                        <li class = 'navbar-item'><a href="#bonus_malus_meta_grid">Bonus/Malus</a></li>
                        <li class = 'navbar-item'><a href="#plot_grid">Plot</a></li>
                    </ul>
                </div>
            </div>
    </header>

        <div class = "dropdown_filter_box">
            Seleziona giocatore:
            <form action= "{{ url_for('handle_name') }}" method="POST">
                <select name ='nome_selezionato' onchange="this.form.submit()">
                    {% for name in names %}
                        {% if name == actual_name %}
                        <option selected="selected" value= "{{name}}">{{name}}</option>"
                        {% else %}
                        <option value= "{{name}}">{{name}}</option>"
                        {% endif %}
                    {% endfor %}
                </select><noscript><input type="submit" value="Submit"></noscript>
            </form>
        </div>
              

    <div class = 'main_content'>
        <div class = 'player_page_grid'>
                <div class="player_meta_grid" id="player_meta_grid">
                    <div class = 'player-figure'><img src={{img_src}} alt="Campioncino Fantacalcio.it" width="200" height="250"></div>  
                    <div class='grid_item summary'><h1>{{nome}}</h1>
                        <br>Squadra: <br><h2>{{team}}</h2>
                        <br>Ruolo Classic: <br><h2>{{ruolo_classic}} </h2>
                    </div>
                    <div class='grid_item fantastat'>Media Voto:<br> <h3> {{media_voto}} </h3></div>
                    <div class='grid_item fantastat'>Mediana Voto:<br> <h3> {{mediana_voto}}</div>
                    <div class='grid_item fantastat'>Media Fantavoto:<br> <h3> {{media_fantavoto}} </h3></div>
                    <div class='grid_item fantastat'>Mediana Fantavoto:<br> <h3>{{mediana_fantavoto}} </div>
                </div>
                <div class = "vertical_section_disposition">
                    <h2 class='section_title' id="presenze_meta_grid">Info presenze</h2>        
                    <div class="meta_grid">
                        <div class='grid_item stat'>Presenze: <br> <h3>{{presenze}} </h3></div>
                        <div class='grid_item stat'>Presenze con voto: <br> <h3>{{presenze_voto}} </h3></div>
                        <div class='grid_item stat'>% Presenze con voto: <br> <h3> {{perc_match_voto}}% </h3></div>
                        <div class='grid_item stat'></div>
                        <div class='grid_item stat'></div>
                        
                        <div class='grid_item stat'>Minuti giocati: <br> <h3>{{minuti_giocati}}</div>
                        <div class='grid_item stat'>Minuti a partita:<br> <h3>{{minuti_medi}}</div>
                        <div class='grid_item stat'></div>
                        <div class='grid_item stat'></div>
                        <div class='grid_item stat'></div>
                            

                        <div class='grid_item stat'>Titolare:<br> <h3> {{titolare}} </h3></div>
                        <div class='grid_item stat'>Entrato: <br> <h3> {{entrato}} </h3></div>
                        <div class='grid_item stat'>Sostituito:<br> <h3> {{sostituito}}</div>
                        <div class='grid_item stat'>% Entrato:<br> <h3> {{perc_entrato}}%</div>
                        <div class='grid_item stat'>% Sostituito:<br> <h3> {{perc_sostituito}}%</div>
                            

                        <div class='grid_item stat'>Infortunato:<br> <h3> {{infortunato}}</h3></div>
                        <div class='grid_item stat'>Inutilizzato:<br> <h3> {{inutilizzato}}</h3></div>
                    </div>
                </div>

                <div class = 'row_container'>
                    <h2 class='section_title'  id="statistiche_meta_grid">Statistiche giocatore</h2>
                    <div class="meta_grid">    
                        <div class='grid_item stat'>Gol segnati:<br> <h3 font-size=30> {{gol_segnati}} </h3></div>
                        <div class='grid_item stat'>Assist: <br> <h3> {{assist}} </h3></div>
                        <div class='grid_item stat'>Gol segnati 90: <br> <h3> {{gol_segnati_90}} </h3></div>
                        <div class='grid_item stat'></div>
                        <div class='grid_item stat'></div>

                        <div class='grid_item stat'>xG: <br><h3> {{xG}} </h3></div>
                        <div class='grid_item stat'>xA: <br><h3> {{xA}} </h3></div>
                        <div class='grid_item stat'>xG90: <br><h3> {{xG90}} </h3></div>
                        <div class='grid_item stat'>xA90: <br><h3> {{xA90}} </h3></div>
                        <div class='grid_item stat'>Stato giocatore: <br><h3> {{status}} </h3></div>
                        
                        <div class='grid_item stat'>Rigori segnati: <br><h3>{{rigori_segnati}}</h3></div>
                        <div class='grid_item stat'>Rigori calciati: <br><h3>{{rigori_calciati}}</h3></div>

                    </div>
                </div>

                <div class = 'row_container'>
                    <h2 class='section_title'  id="bonus_malus_meta_grid">Statistiche bonus/malus</h2>
                    <div class="meta_grid">
                        <div class='grid_item stat'>Totale bonus: <br><h3>{{totale_bonus}}</h3></div>
                        <div class='grid_item stat'>Totale malus:<br><h3> {{totale_malus}}</h3></div>
                        <div class='grid_item stat'>Partite con bonus: <br><h3>{{partite_bonus}}</h3></div>
                        <div class='grid_item stat'>Partite con bonus: <br><h3>{{perc_bonus_match}}%</h3></div>
                        <div></div>

                
                        <div class='grid_item stat'>Fantavoto minore di 5: <br><h3>{{perc_fv_5}}%  </h3></div>
                        <div class='grid_item stat'>Fantavoto tra 5 e 6: <br><h3>{{perc_fv_5_6}}%  </h3></div>
                        <div class='grid_item stat'>Fantavoto tra 6 e 7: <br><h3>{{perc_fv_6_7}}%  </h3></div>
                        <div class='grid_item stat'>Fantavoto tra 7 e 8: <br><h3>{{perc_fv_7_8}}%  </h3> </div>
                        <div class='grid_item stat'>Fantavoto sopra 8: <br><h3> {{perc_fv_8}}%  </h3></div>

                        <div class='grid_item stat'>Voto minore di 5: <br><h3>{{perc_v_5}}%  </h3></div>
                        <div class='grid_item stat'>Voto tra 5 e 6: <br><h3>{{perc_v_5_6}}%  </h3></div>
                        <div class='grid_item stat'>Voto tra 6 e 7: <br><h3>{{perc_v_6_7}}%  </h3></div>
                        <div class='grid_item stat'>Voto tra 7 e 8: <br><h3>{{perc_v_7_8}}%  </h3> </div>
                        <div class='grid_item stat'>Voto sopra 8: <br><h3> {{perc_v_8}}%  </h3></div>

                    </div>
                </div>
            </div>

            <div class = 'plot_grid'>
                <h2 class='section_title'>Plot</h2>
                <div class='div_plot' id='div-history_plot'>
                    {{history_plot|safe}}
                </div>
                <div class='div_plot'id='div-bonus_plot' >
                    {{bonus_plot|safe}}
                </div>
            </div>

        </div>
    </div>
</body>
</html>    