<!DOCTYPE html>
<html>
<head>
<title>{{nome}} Team Builder </title>
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/team_builder.css') }}"></head>
<link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/general.css') }}"></head>
<body>    
    <header>
            <div class="navbar_menu">
                <div class = 'logo_container'>
                    <img src = 'static/img/logo.png' class = 'logo'>
                </div>
                <div class = 'navbar_container'>
                    <ul>
                        <li class = 'navbar-item'><a href="/classifica">Info squadre</a></li>
                        <li class = 'navbar-item'><a href="/role-explorer">Info ruolo</a></li>
                        <li class = 'navbar-item'><a href="/player-page">Info giocatore</a></li>
                        <li class = 'navbar-item'><a href="/team-builder">Team Builder</a></li>
                        <li class = 'navbar-item'><a href="/tool-asta">Tool Asta</a></li>
                    </ul>
                </div>
            </div>
    </header>


    <div class = 'main_content'>

        <div class = 'dropdown_filter_box'>
            Seleziona moduli:
            <form action= "{{ url_for('route_team_builder_action') }}" method="POST">
                <select name ='modulo_scelto' class = 'selector'>
                    {% for modulo in ['3-4-3','3-5-2','4-3-3','4-4-2','4-5-1','5-2-3','5-3-2','5-4-1'] %}
                        {% if modulo == modulo_scelto %}
                            <option selected="selected" value= "{{modulo}}">{{modulo}}</option>
                        {% else %}
                            <option value= "{{modulo}}">{{modulo}}</option>
                        {% endif %}
                    {% endfor %}
                </select>
                <button type="submit" class="button-3" name="scegli_modulo">Scegli</button>
            </form>        
        </div>
    
        <div class = 'team_builder'>
            <form  action= "{{ url_for('route_team_builder_action') }}" method="POST">

                        <div class='por'>
                            <div class='grid_item_por'>
                            <select class = "player_selector", name='nome_1'>
                                    {% for name in por_names %}
                                    <option value= "{{name}}">{{name}}</option>"
                                    {% endfor %}
                                </select>        
                            </div>
                        </div>
            

                    <div class="{{dif_class}}">
                        {% for i in nomi_dif%}
                        <div class='grid_item_dif'>
                            <select class = "player_selector", name="{{i}}">
                                {% for name in dif_names %}
                                <option value= "{{name}}">{{name}}</option>"
                                {% endfor %}
                            </select>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="{{cen_class}}">
                        {% for i in nomi_cen%}
                        <div class='grid_item_cen'>
                            <select class = "player_selector", name="{{i}}">
                                {% for name in cen_names %}
                                <option value= "{{name}}">{{name}}</option>"
                                {% endfor %}
                            </select>
                        </div>
                        {% endfor %}
                    </div>

                    <div class="{{att_class}}">
                        {% for i in nomi_att%}
                        <div class='grid_item_att'>
                            <select class = "player_selector", name="{{i}}">
                                {% for name in att_names %}
                                <option value= "{{name}}">{{name}}</option>"
                                {% endfor %}
                            </select>
                        </div>
                        {% endfor %}
                    </div>
                
                    <div class='end'>
                        <div class='grid_item_sent'>
                        <button type="submit" class="button-3" name="build_team">Calcola</button>
                        </div>
                    </div>
            </form> 
        </div>
    
    </div>
       
</body>
</html>    